<div class="container">
    <h1>Home</h1>
    <button id="all-products-btn">
        <a href="/realtimeproducts">All products</a>
    </button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>