<div class="container">
    <h1>Products list</h1>
    <ul>
        {{#each products}}
            <li>{{products}}</li>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
