<div>
    <h1>Register</h1>
    <form id="registerForm">

        <label>Name</label>
        <input name="first_name">
        <br/>
        <label>Last name</label>
        <input name="last_name">
        <br/>
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Age</label>
        <input name="age">
        <br/>
        <label>Password</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <p>Do you already have an account? <a href="/login">Enter here</a></p>
</div>
<script src="/js/register.js"></script>